{% extends "base.html" %}

{% block content %}
  <h2>Create/Edit Post</h2>

    <form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>Post</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
      <input type="button" class="cancel-button" value="Cancel" onclick="location.href='/blog/'">
    </form>
{% endblock %}
